body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section, .section-activity {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-activity {
  padding-top: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.title_accent {
  color: #2196f3;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.header-menu {
  display: flex;
  align-items: center;
}

.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin-left: 93px;
}

.nav-list__item {
  margin-right: 50px;
}
.nav-list__item:last-child {
  margin-right: 0;
}

.nav-list__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.nav-list__link_current, .nav-list__link:hover, .nav-list__link:focus {
  color: #2196f3;
}
.nav-list__link:hover::after, .nav-list__link:focus::after, .nav-list__link_current::after {
  display: inline-block;
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  min-width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-header {
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo_color_accent {
  color: #2196f3;
}

.logo__fotter {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.logo__fotter_accent_color {
  color: #ffffff;
}

.contacts {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.contacts__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__icon {
  margin-left: 0;
  margin-right: 10px;
  justify-content: center;
  fill: currentColor;
}

.hero {
  padding-bottom: 200px;
  padding-top: 200px;
  background: var(--bg-hero);
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Imgbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.button-primary {
  cursor: pointer;
  border: none;
  text-align: center;
  border-radius: 4px;
  color: #ffffff;
  background: #2196f3;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-primary:hover, .button-primary:focus {
  background: #188ce8;
}

.button-secondary {
  cursor: pointer;
  border: none;
  text-align: center;
  border-radius: 4px;
  color: #212121;
  background: #f5f4fa;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 6px 25px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.62;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-secondary:hover, .button-secondary:focus {
  background: #188ce8;
}
.button-secondary:hover, .button-secondary:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-signup {
  cursor: pointer;
  border: none;
  text-align: center;
  border-radius: 4px;
  color: #ffffff;
  background: #2196f3;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  width: 200px;
  justify-content: center;
  margin: 0;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-signup:hover, .button-signup:focus {
  background: #188ce8;
}

.features-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.features__item {
  width: 270px;
}

.features__card {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: center;
  width: 270px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__title {
  margin-top: 30px;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.features__label {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.activity-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.activity__card {
  width: 370px;
}

.activity__image {
  display: block;
}

.overlay {
  position: relative;
}
.overlay::before {
  display: inline-block;
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.overlay > .overlay__label {
  display: flex;
  position: absolute;
  transform: translate(-50%, -100%);
  left: 50%;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.overlay-portfolio {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-examples__link:hover .overlay-portfolio, .work-examples__link:focus .overlay-portfolio {
  transform: translateY(0);
  opacity: 1;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.team__card {
  flex-basis: 270px;
  min-width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__image {
  display: block;
}

.team__title {
  margin-bottom: 10px;
  margin-top: 0;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__text {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-network {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-network__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  outline: transparent;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #afb1b8;
}
.social-network__link:hover, .social-network__link:focus {
  border-radius: 50%;
  background-color: #2196f3;
  color: #ffffff;
}

.social-network__icon {
  fill: currentColor;
}

.clients {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #afb1b8;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  outline: transparent;
}
.client__link:hover, .client__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.client__card {
  fill: currentColor;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-location {
  font-style: normal;
}

.footer-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-list__address {
  margin-bottom: 9px;
}
.footer-list__address:last-child {
  margin-bottom: 0;
}

.footer-list__address_color_white {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}
.footer-list__address_color_white:hover, .footer-list__address_color_white:focus {
  color: #2196f3;
}

.footer-list__address_color_alfa {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
}
.footer-list__address_color_alfa:hover, .footer-list__address_color_alfa:focus {
  color: #2196f3;
}

.footer__socialblock {
  margin-left: 93px;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}

.social__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  outline: transparent;
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
}
.social__button:hover, .social__button:focus {
  background-color: #2196f3;
}

.social__icon {
  color: currentColor;
}

.footer__signup-box {
  margin-left: auto;
}

.signup {
  display: flex;
  gap: 10px;
}

.signup-input {
  padding: 14px 16px;
  width: 358px;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px var(--filter-color));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup__icon {
  margin-left: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-button {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover, .modal-button:focus {
  fill: #2196f3;
}

.modal__label {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
}

.modal-form__field {
  position: relative;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  width: 100%;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #212121;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.modal-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  border: none;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #000000;
}
.modal-form__input:focus + .modal-form__icon {
  color: #2196f3;
  fill: #2196f3;
  outline: transparent;
}

.modal-form__textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #000000;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.checkbox__input {
  appearance: none;
}

.checkbox__box {
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 2px solid #212121;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__box {
  background-color: #2196f3;
  border: 2px solid transparent;
}
.checkbox__input:focus-visible + .checkbox__box {
  outline: 2px solid #212121;
}

.modal-form-button {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.filters {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.work-examples {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.work-examples__item {
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples__link {
  text-decoration: none;
  display: block;
  font-style: normal;
  color: #757575;
  outline: transparent;
}
.work-examples__link:hover, .work-examples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-examples__box {
  position: relative;
  overflow: hidden;
}

.work-examples__box .work-examples__label {
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.work-examples__photo {
  display: block;
}

.work-examples__card {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.work-examples__title {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-examples__text {
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */