.features-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include tablet {
    @include list;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.features__item {
  @include list;
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }

  @include destop {
    width: calc((100% - 3 * 30px) / 4);
  }
}

.features__card {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: center;
  width: 100%;

  background-color: $SecondaryBGColor;
  border-radius: 4px;
}

.features__title {
  margin-top: 30px;
  color: $TitleTextColor;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  @include tablet {
    text-align: start;
  }
}

.features__label {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
