.logo {
    color: $TextLogo;
    font-family: Raleway, sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-header {
    @include link;
    padding-top: 24px;
    padding-bottom: 25px;
    
}

.logo_color_accent {
    color: $AccentColor;
}

.logo__fotter {
    @include link;
    display: inline-block;
    margin-bottom: 20px;
}
.logo__fotter_accent_color {
    color: $PrimaryWhiteColor;
}