.nav-menu {
  display: none;

  @include tablet {
    @include list;
    display: flex;
  }
}

.nav-list {
  @include list;

  @include tablet {
    margin-bottom: 0;
    display: flex;
    margin-left: 87px;
  }
  @include destop {
    margin-left: 93px;
  }
}

.nav-list__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.nav-list__link {
  @include tablet {
    position: relative;
    font-size: 14px;
    line-height: 1.142;
    padding: 32px 0;
    color: $TitleTextColor;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-decoration: none;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &_current,
    &:hover,
    &:focus {
      color: $AccentColor;
    }
    &:hover::after,
    &:focus::after,
    &_current::after {
      display: inline-block;
      position: absolute;
      content: '';
      left: 0;
      bottom: -1px;
      min-width: 100%;
      height: 4px;

      background: $AccentColor;
      border-radius: 2px;
    }
  }
}
